@charset "utf-8";
/* CSS Document */

*{
	margin: 0 auto;
	list-style: none;
	font-family: "맑은 고딕";
	padding: 0;
}
body,html{
	min-width: 100%;
}
img{
	max-width: 100%;
}
.wrap{
	width: 1000px;
}
.clear{clear:both;position:inherit;}

#imgslide{
	height: 100%;
}
.imgs{
	position: relative;
	overflow: hidden;
	height: 100%
}
.imgs>img{
	width: 100%;
	position: absolute;
}

#slides {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
}

#slides li {
	display: none;
}
#slides li:first-child {
	display: block;
}
#slides li img {
	width: 100%;
	height: 100%;
}

#btn_slides {
	text-align: center;
}
#btn_slides a.off {
	cursor: default;
	opacity: 0.5;
}

#contents{
	height: 500px;
}

